body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: grid;
  grid-template-columns: 180px 250px;
  gap: 15px 20px;
  align-items: center;
}

label {
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box; /* To prevent inputs, textarea sizes from exceeding the width of the form*/
}

/* For block with the gender */
.radio-group {
  display: flex;
  gap: 15px;
}

.checkbox-group {
  grid-column: span 2;
}

.buttons {
  grid-column: span 2;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.buttons button {
  cursor: pointer;
}
